[submodule "grunt.js_talk"]
	path = grunt.js_talk
	url = https://github.com/basis42/grunt.js_talk.git
[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "camel_talk"]
	path = camel_talk
	url = https://github.com/basis42/camel_talk.git
